body {
    background-color: hsl(240, 2%, 16%);
}
nav{
    background-color:hsl(240, 4%, 13%);
    border:none;
    border-radius:10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top:10px;
    padding-left:10%;
    padding-right:10%;
   

}
nav ul li {
    display: inline;
    padding:10px 30px;
}
nav ul li a {
font-weight: bold;
text-decoration : none; 
color : white;
transition:color 3ms;
}
a:hover{
color:hsl(53, 72%, 50%);
transition: 3ms;
}

span{
    color: hsl(53, 72%, 50%);
}
.logo {
    color:white;
}
button {
    border: none; 
    border-radius: 10px;
    background-color: hsl(53, 72%, 50%);
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.home {
    font-size:1em;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    align-items: center;
    align-content:center;
    display: flex;
    height: 100%;  
    width:100%;
}
.home-text {
    color:hsl(53, 72%, 50%);
    padding-right:30px;
    height: 100%;
    width:50%;
    top:0px;
    left:0px;
    padding-top:0ox;
    padding-bottom: 40px;
}

.home-img img {
    border:none;
    height: 90%;
    width: 90%;
    
    right: 0px;
}
.text{
    display:inline-block;
    size: 1em;
    align-items: center;
  
    

}
