
    .inc,.reset,.dec{
       
        border : 2px solid black;
        background-color : hsl(213,70%,40%);
        text-align: center;
        transition:background-color 0.30s;
        font-size:1.5em;
    }
    .inc:hover,.dec:hover,.reset:hover{
        
        background-color:hsl(231, 89%, 45%);
     
        cursor: pointer;

    }
  .affichage{

    display:block;
    font-size: 10em;
text-align:center;
    }
    .position{
       text-align:center; 
    }