body{
    background-image: linear-gradient(rgba(0,0,0,0,6),rgba(0,0,0,6)),url("");
    background-size : cover; 
    background-position : center ;
background-color: hsl(240, 2%, 16%);
}
.box{
    width: 75%;
    height: 450px;
    display: flex;
    justify-content: center;
    gap: 10px;
   padding-top:20px;
   
}
.box   img{
    width: 15%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
    border: none;
    transition: all ease-in-out 0.6s;
}
.box img:hover{
    width: 30%;
}

nav{
    background-color:hsl(240, 4%, 13%);
    border:none;
    border-radius:10px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding-top:10px;
    padding-left:10%;
    padding-right:10%;
   

}
nav ul li {
    display: inline;
    padding:10px 30px;
}
nav ul li a {
font-weight: bold;
text-decoration : none; 
color : white;
transition:color 3ms;
}
nav a:hover{
color:hsl(53, 72%, 50%);
transition: 3ms;
}

span{
    color: hsl(53, 72%, 50%);
}
.logo {
    color:white;
}
button {
    border: none; 
    border-radius: 10px;
    background-color: hsl(53, 72%, 50%);
    font-size: 1em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
/* partie aside */

aside{
    display:flex;
    width: 25;
    height: 100%;
    background-color:hsl(53, 72%, 50%);
    justify-content:space-between;

}
a{
    text-decoration:none;
}